<%- include('../partials/head', { title }) %>

<section class="card stack">
  <h1 style="margin: 0">Not Found</h1>
  <p class="muted" style="margin: 0">That page doesn’t exist.</p>
  <div>
    <a href="/entries/new">Go to the form</a>
  </div>
</section>

<%- include('../partials/foot') %>
